<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    <style>
      .container {
        max-width: 50%;
        margin: 0 auto; 
      }
    </style>
  </head>
  <body>
    <main id="app" class="container">
      <h1>ToDo List</h1>
      <input type="text" v-model="todo" v-on:keyup.enter="storeTodo" />
      <input type="submit" value="+" v-on:click="storeTodo" />
      <ol>
        <li v-for="(todo, index) in todos">
          {{ todo }}
          <button @click="removeTodo(index)">Delete</button>
        </li>
      </ol>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script>
      new Vue({
        el: "#app",

        data: {
          todo: "",
          todos: [],
          selectedTodo: null,
        },
        methods: {
          storeTodo() {
            if (this.todo === "") {
              event.preventDefault();
              return;
            } else {
              this.todos.push(this.todo);
              this.todo = "";
            }
          },
          removeTodo(index) {
            this.todos.splice(index, 1);
          },
        },
      });
    </script>
  </body>
</html>
